body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: darkblue;
}

main {
    padding: 20px;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color: lightgreen; 
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    width: fit-content;
}

footer p {
    padding: 0 20px;
}

section {
    border: 5px solid blue;
    padding: 10px;
    margin-bottom: 5px;
}

#special-note {
    font-style: italic;
    color: magenta;
}

button:hover {
    background-color: lightblue;
}